
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
  list-style: none;
  text-decoration: none;
}

// Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: -20px;

  .youtube-logo {
    width: auto;
    height: 65px;
  }

  .search-bar {
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 4rem;
    
    .search-input {
      width: 100%;
      font-size: inherit;
      padding: 0.4em;
      border: 1px solid #777;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
    }

    .search-btn {
      display: flex;
      align-items: center;
      background: #f8f8f8;
      border: 1px solid #777;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      cursor: pointer;

      &::after {
        font-family: 'Font Awesome 5 Free';
        content: '\f002';
        font-weight: 900;
        font-size: 0.9rem;
        padding: 0 1.50rem;
      }

      &:hover {
        background: #f0f0f0;
      }
    }
  }

  .menu-icons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1.5rem;
    justify-content: space-between;
    align-items: center;

    .video-create::after {
      font-family: 'Font Awesome 5 Free';
      content: '\f067';
      font-weight: 900;
      font-size: 1.2em;
      color: #aaa;
    }

   
    .apps::after {
      font-family: 'Font Awesome 5 Free';
      content: '\f00a';
      font-weight: 900;
      font-size: 1.2em;
      color: #aaa;
    }

    .notifications::after {
      font-family: 'Font Awesome 5 Free';
      content: '\f0f3';
      font-weight: 900;
      font-size: 1.2em;
      color: #aaa;
    }

    .menu-channel-icon {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: #aaa;
    }
  }
} // END::Header

// Categories
.categories {
  padding: 1rem 2rem;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;

  .category-section {
    display: flex;
    overflow: hidden;

    // flex-item
    .category {
      margin-right: 1rem;
      word-wrap: none;
      white-space: nowrap;
      border: 1px solid #ccc;
      border-radius: 900px;
      background: #e7e7e7;
      padding: 0.4rem 1rem;
      font-size: inherit;
      cursor: pointer;
      transition: background-color 150ms ease-out;

      &:hover {
        background-color: #ddd;
      }

      &.active {
        background-color: #606060;
        color: #fff;
        border-color: #eee;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
} // END::Categories


// Videos
.videos {
  background: #f9f9f9;
}

.video-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem 1rem;
  padding: 3rem 0;
  margin: 0 1.5rem;
  border-top: 4px solid #ccc;
  
  // grid-item
  &:first-child {
    border-top: none;
  }

  // grid-item
  .video-section-title {
    grid-column: 1 / -1;
    margin: -0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4rem;

    // flex-item
    .video-section-title-close {
      border: none;
      background: none;
      padding: 0;
      font-size: 2rem;
      color: #ccc;
      cursor: pointer;
    }
  }

  // grid-item
  .video-container {
    display: flex;
    flex-direction: column;
  
    // flex-item
    .thumbnail {
      position: relative;
      display: flex;
  
      &::before {
        content: attr(data-duration);
        position: absolute;
        right: 5px;
        bottom: 5px;
        background-color: rgba(0, 0, 0, 0.85);
        color: #fff;
        padding: 0.1em 0.3em;
        border-radius: 0.15em;
        font-size: 0.9rem;
      }
  
      & .thumbnail-image {
        width: 100%;
        height: 100%;
        min-width: 250px;
        min-height: 150px;
        background-color: #aaa;
      }
    } 
  
    // flex-item
    .video-bottom-section {
      display: flex;
      align-items: flex-start;
      margin-top: 1rem;
  
      // flex-item
      .channel-icon {
        margin-right: 0.75rem;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        background-color: #aaa;
      } 

      // flex-item
      .video-details {
        display: flex;
        flex-direction: column;

        // flex-item
        .video-title {
          font-size: 1.1rem;
          font-weight: bold;  
          margin-bottom: 0.5rem;
          color: #000;
        }

        // flex-item
        .video-channel-name {
          margin-bottom: 0.1rem;
          color: #555;
          transition: color 150ms ease-out;

          &:hover {
            color: #111;
          }
        }

        // flex-item
        .video-metadata {
          color: #555;
        }
      }  
    } 
  }
} // END::Videos
