// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

// color varbiables 
:root {
  /*   color variables */
  --clr-primary: #047aed;
  --clr-secondary: #1c3fa8;
  --clr-dark: #002240;
  --clr-light: #f4f4f4;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --font-color: #333;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;
  --clr-gray300: #a7b7be;
  --clr-gray400: #6b7e86;
  --clr-gray500: #425a65;
  
  --clr-success: #5cb85c;
  --clr-error: #d9534f;

  /*   border radius */
  --radius: 0.2rem;
}

// Utilities
@import 'utilities';

// Animations
@import 'animations';

// RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

// Base Styles
body {
  font-family: 'Lato', sans-serif;
  background: var(--clr-gray100);
  color: var(--font-color);
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  // keep the image within its container
  width: 100%;
}

.code, pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

// Navbar
.navbar {
  background: var(--clr-primary);
  color: #fff;
  height: 70px;
  
  .flex {
    justify-content: space-between;
  }

  .container nav ul {
    display: flex;
    
    li {
      padding: 10px 10px 8px 10px;
      margin: 0 5px; 
    }

    li > a {
      color: #fff;
      padding-bottom: 4px;
      
      &:hover {
        border-bottom: 2px #fff solid;
      }
    }
  }
} // END::Navbar

// Showcase
.showcase {
  background: var(--clr-primary);
  height: 400px;
  color: #fff;
  position: relative;

  & h1 {
    font-size: 40px;
  }

  & p {
    margin: 20px 0;
  }

  & .grid {
    grid-template-columns: 55% 45%;
    gap: 2rem;
    overflow: visible; // to make the Form appear on top

    .showcase-text {
      animation: slideInFromLeft 0.8s ease-in;
    }

    .showcase-form {
      // background: seagreen;
      background: var(--clr-gray100);
      position: relative;
      top: 60px;
      height: 350px;
      width: 400px;
      padding: 2.5rem;
      z-index: 100;
      animation: slideInFromRight 0.8s ease-in;

      .form-control {
        margin: 1.9rem 0;

        input[type="text"],
        input[type="email"] {
          border: none;
          border-bottom: 1px solid #b4becb;
          background: var(--clr-gray100);
          border-radius: 4px;
          width: 100%;
          padding: 5px;
          font-size: 16px;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  &::before, 
  &::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: var(--clr-gray100);
    transform: skewY(-3deg);
  }
} // END::Showcase


// Stats
.stats {
  padding-top: 100px;
  animation: slideInFromBottom 0.8s ease-in;

  .stats-heading {
    max-width: 500px;
    margin: auto;
  }

  .grid > div > h3 {
    font-size: 35px;
  }

  .grid > div > p {
    font-size: 20px;
    font-weight: bold;
  }
} // END::Stats

// CLI
.cli {
  .grid {
    overflow: visible;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    // The image
    & > *:first-child {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
      width: 650px;
      height: 120px;
      background: var(--clr-gray100);
      
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 25px;
      }
    }
  }
} // END::CLI

// Cloud
.cloud {
  .grid {
    grid-template-columns: 4fr 3fr;
  }
} // END::Cloud

// Languages
.languages {

  .flex {
    flex-wrap: wrap;
  }

  .container > .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;

    h4 {
      font-size: 20px;
      margin-bottom: 10px;
      color: var(--font-color);
    }

    &:hover {
      transform: translateY(-15px);
    }
  }
} // END::Languages

// FEATURES-Head
.features-head {
  img {
    width: 200px;
    justify-self: flex-end;
  }
} // END::FEATURES-Head

// Sub-Head
.features-sub-head {
  img {
    width: 300px;
    justify-self: flex-end;
  }
} // END::Sub-Head

// Main
.features-main {
  .grid {
    padding: 30px;

    & > *:first-child {
      grid-column: 1 / span 3;
    }

    & > *:nth-child(2) {
      grid-column: 1 / span 2;
    }

    .card > i {
      margin-right: 20px;
    }
  }
} // END::Main

// Docs
// Head
.docs-head {
  img {
    width: 200px;
    justify-self: flex-end;
  }
} // END::Head

// Main
.docs-main {
  h3 {
    margin: 20px 0;
  }

  .grid {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;

    .card > nav ul li {
      font-size: 17px;
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px #ccc solid;

      a:hover {
        font-weight: bold;
      }
    }
  }
} // END::Main
// END::Docs

// Footer
.footer > .container > .social > a {
  margin: 0 10px;
} // END::Footer



// Media Queries 
@import 'mediaQueries';
