// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Playfair+Display:wght@400;600&display=swap');

// color varbiables 
:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;

  --body-font-size: 1.6rem;
  --body-font-color: #5f5f5f;
  --body-font-family: 'Open Sans', sans-serif;
  --heading-font-family: 'Playfair Display', serif;
  --light-clr: #f4f4f4;
  --dark-clr: #262626;
  --light-gray-clr: #f2f3f7;
  --orange-clr: #ec5453;
  --blue-clr: #2c98f0;
  --yellow-clr: #f9bf3f;
  --purple-clr: #a84cb8;
  --dark-blue-clr: #4054b2;

  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;

  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;
  --clr-gray300: #a7b7be;
  --clr-gray400: #6b7e86;
  --clr-gray500: #425a65;
  
  --clr-success: #5cb85c;
  --clr-error: #d9534f;

  /*   border radius */
  --radius: 0.2rem;
}

// Animations
@import 'animations';

// RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

// Base Styles
body {
  --hue: var(--hue-neutral);
  font-family: var(--body-font-family);
  color: var(--body-font-color);
  font-size: var(--body-font-size);
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(var(--hue-neutral), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

ul {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
  color: var(--font-color);
}

h1,
h2 {
  // font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}


.code, pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: var(--light-gray-clr);
  border-radius: 2px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

// Buttons
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 100%, 50%);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  border-radius: 2px;
  padding: 5px 10px;
  color: #fff;
  outline: none;
  cursor: pointer;
  letter-spacing: 1px;
  
  &:hover {
    transform: scale(1.01);
    border-color: #000;
  }
}

.btn.correct {
  --hue: var(--hue-correct);
  color: #000;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Media Queries 
@import 'mediaQueries';
